.map_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.map_container {
  border: solid 4px #c9814b;
  padding: 0.5rem;
  width: 23rem;
  background: #dda963;
}

.map_row {
  display: inline-flex;
}

.tile {
  min-width: 36px;
  min-height: 36px;
  border: dotted 2px #c9814b;
  background-color: #dda963;
  margin: 2px;

  &:hover {
    box-shadow: 0px 0px 1px 2px #c9814b;
  }

  &:active {
    box-shadow: none;
    background-color: #c9814b;

    &:disabled {
      background-color:#dda963;
    }
  }

  &:disabled {
    box-shadow: none;
  }
  
  &.highlighted_tile {
    background-color: #a7a79e;

    &:active {
      box-shadow: none;
      background-color: #c9814b;
    }
  }
}

.map_copy {
  margin-top: 0.5rem;

  button {
    background-color: #c9814b;
    color: #dbc1af;
    border: none;
    border-radius: 5px;

    &:hover {
      box-shadow: 0 0 1px 1px #9b6970;
    }

    &:active {
      box-shadow: none;
      background-color: #a7a79e;
    }
  }
}