.scoring_container {
  font-size: smaller;
  text-align: left;

  th {
    width: 3rem;
    text-align: center;
  }

  td {
    min-width: 2rem;
    margin-left: 0.5rem;

    &:nth-child(2) {
      text-align: center;
    }
  }
}